extends layout

block vars
  - title=namespace

block content
  script.
    var namespace = !{JSON.stringify(namespace)};
    var segment = !{JSON.stringify(segment)};
  #root
  script(src=APP_ROOT+"/-/assets/commons.bundle.js")
  script(src=APP_ROOT+"/-/assets/similar.bundle.js")
